@{
    ViewData["Title"] = "Home Page";
}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/banner.jpg" class="d-block w-100" alt="Portada">
                <div class="carousel-caption d-none d-md-block my-auto">
                    <p style="font-size:30px">BONOS CORPORATIVOS</p>
                    <p>Calcula tus bonos fácil y rápido</p>
                </div>
            </div>
        </div>
    </div>